<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <title>Vue2 - Monster killer</title>
</head>
<body>
  <div id="app">
    <section class="panel scores">
      <section class="score">
        <h2>Jogador</h2>
        <div class="lifebar">
          <div 
            class="life"
            :class="{danger: playerLife < 25}"
            :style="{width: playerLife + '%'}"
          ></div>
          <div>{{ playerLife }}%</div>
        </div>
      </section>
      <section class="score">
        <h2>Monstro</h2>
        <div class="lifebar">
          <div class="life"
          :class="{danger: monsterLife < 25}"
          :style="{width: monsterLife + '%'}"
          ></div>
          <div>{{ monsterLife }}%</div>
        </div>
      </section>
    </section>
    <section v-if="hasResult" class="panel results">
      <p class="win" v-if="monsterLife === 0">Yeah! Voce matou o monstro 🧙🏻‍♂️</p>
      <p class="lose" v-else> Ah não! o monstro te matou 👹</p>
    </section>
    <section class="panel controlls"> 
      <template v-if="running">
        <button class="btn atk">Atacar</button>
        <button class="btn special">Especial</button>
        <button class="btn heal">Curar</button>
        <button class="btn giveup" @click="giveUp">Desistir</button>
      </template>
      <button v-else class="btn new" @click="startGame">Novo jogo</button>
    </section>
    <section class="panel logs"> logs </section>

  </div>

  <script src="assets/scripts/app.js"></script>
</body>
</html>