@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

* {
  font-family: 'Montserrat';
  background-color: #27272a;
  color: #f4f4f5;
  margin: 0;
  padding: 0;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  items-align: center;
  text-align: center;
}

.panel {
  padding: 2em 1em;
  border-bottom: 1px solid #f4f4f5;
}

.scores {
  display: flex;
}

.score {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lifebar {
  width: 80%;
  height: 20px;
  border: 1px solid #a1a1aa;
  margin: 5px auto;
}

.lifebar .life {
  height: 100%;
  background-color: #22c55e;
  margin-bottom: 5px;
}

.lifebar .life.danger {
  background-color: #ef4444;
}